
<?xml version="1.0" encoding="UTF-8"?>
<!-- 
===============================================================================================
	Licensed Materials - Property of IBM
	IBM Cognos Products: cnfg
	(C) Copyright IBM Corp. 2017
	US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.


Master configuration file for all IBM Cognos components.
===============================================================================================
 -->
<crn:parameters xmlns:crn="http://developer.cognos.com/schemas/crconfig/1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cfg="http://developer.cognos.com/schemas/configparams/XMLSchema/1/" version="175.0" xsi:schemaLocation="http://developer.cognos.com/schemas/crconfig/1/ cogstartup.xsd">
  <crn:parameter name="licenseType">
    <crn:value xsi:type="xsd:string">{{ _env }}</crn:value>
    <crn:value xsi:type="xsd:string">{{ env }}</crn:value>
    <crn:value xsi:type="xsd:string">{{ a }}</crn:value>	
  </crn:parameter>
</crn:parameters>